body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}


#wrapper header{
	width: 1200px;
}


ul{
	list-style-type: none;
	width: 800px;
	height: 100px;
}

a {
	display: block;
	width: 138px;
	height: 35px;
	background: bisque;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	text-decoration: none;
	text-align: center;
}

a:hover{
	background: red;
}

li{
	float: left;
}